/*
.mygrid {
    width: 600px;
    display: grid;
    grid-gap: 100px;
   grid-template-columns: 1fr;
    grid-template-rows: 1fr 30px;
    grid-template-areas: "projekty1 projekty2 a"
                         "projekty header"
                         "footer footer footer";
    margin: 20px auto;
}

.mygrid>* {
   
}
header{
    float: centre;
}
article {
    grid-area: artykul;
}

div.projekty {
    grid-area: projekty1;
}

div.projekty {
    grid-area: projekty2;

}

footer {
    grid-area: footer;
} */

left {
    position:absolute; 
    top:8px; 
    left:16px
}

center {
    position: absolute; top:8px; width:100%; text-align:center
}